
  .carousel-custom :global(.carousel .slide) {
    padding: 0 4px;
  }
  @media (max-width: 640px) {
    .carousel-custom :global(.carousel .slider-wrapper) {
      overflow: hidden;
    }
    .carousel-custom :global(.carousel .slide) {
      width: 80% !important; /* Aumentado para 80% para melhor visualização */
      margin: 0 auto !important; /* Centraliza os slides */
    }
    .carousel-custom :global(.carousel .slider) {
      justify-content: center !important;
    }
  }
